* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 1.5% auto;
    color: gray;
}

.title {
    color: #43E5E5;
}

.container ul {
    width: 60%;
}

.title {
    text-transform: uppercase;
}

.container li {
    display: inline-block;
    width: 100%;
    padding: 3% 0;
}

.container p {
    padding: 2% 0;
}

button {
    padding: 1.8%;
    margin: 2% 2% 2% 0;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    color: gray;
}

button:hover {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

button:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.deleteBtn {
    background-color: tomato;
    color: #FFF;
}

.deleteBtn:hover {
    color: tomato;
    border: 1px solid tomato;
}

.completeBtn {
    background-color: lightgreen;
    color: #FFF;
}

.completeBtn:hover {
    color: #00C700;
    border: 1px solid lightgreen;
}

.titleBtn {
    background-color: #43E5E5;
    color: #FFF;
}

.titleBtn:hover {
    color: #35b9b9;
    border: 1px solid #43E5E5;
}